@page "/list/{Id}"
@layout MainPageLayout
<div class="product-list-site content">
    <NavTree navigatorTree="@Category.GetTree(Id)" />
    <div class="main-component">
        <div class="filter">
            <p>Product Filter</p>
            <FilterPanel filterMenu="@manufacturerSet" Name="Manufacturer" ClickCallback="@filterAction" />
            <FilterPanel filterMenu="@priceSet" Name="Price" ClickCallback="@filterAction" />
        </div>

        <div class="item-list">
            <div class="item-grid">
                @foreach (var i in itemDatas)
                {
                    <ProductBtn Data="@i" CustomStyle="width:100%" />
                }
            </div>
            <div class="page-counter">
                @for (var i = 1; i <= allPage; i++)
                {
                    string cls = i == currentPage ? "current" : "";
                    int tmp = i;
                    <div class="num @cls" @onclick="@(() => ChangePage(tmp))">@i</div>
                }
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; }
    private List<ProductData> itemDatas = new();
    private FilterDefinition<ProductData>[] filterList = {
Builders<ProductData>.Filter.Empty,
Builders<ProductData>.Filter.Empty
};
    private IMongoCollection<ProductData> collection;
    private Dictionary<string, Expression<Func<ProductData, bool>>> manufacturerSet = new();
    private Dictionary<string, Expression<Func<ProductData, bool>>> priceSet = new();
    Action<Expression<Func<ProductData, bool>>> filterAction;

    private int currentPage = 1;
    private int allPage = 0;
    private int itemsPerPage = 15;

    protected override async Task OnInitializedAsync()
    {
        var client = new MongoClient("mongodb://127.0.0.1:27017");
        var db = client.GetDatabase("EcommerceSite");
        collection = db.GetCollection<ProductData>("Items");

        filterAction = (m) =>
        {
            FilterAction(m);
        };

        manufacturerSet = await GetManufacturers();
        priceSet = await GetPrice();
        var filter = Builders<ProductData>.Filter.Eq(m => m.Type, Id);
        filterList[0] = filter;

        await QueryItems(1);
    }
    private async Task CountPages()
    {
        var count = await collection.CountDocumentsAsync(Builders<ProductData>.Filter.And(filterList));
        allPage = (int)(count / itemsPerPage + 1);
    }
    private async Task QueryItems(int page)
    {
        var operation = collection.Find(Builders<ProductData>.Filter.And(filterList));
        var count = (await operation.ToListAsync()).Count;
        allPage = (int)(count / itemsPerPage + 1);

        var result = await operation
        .Limit(itemsPerPage)
        .Skip((page - 1) * itemsPerPage)
        .ToListAsync();
        itemDatas = result;
    }
    private async void ChangePage(int page)
    {
        Console.WriteLine("page click");
        await QueryItems(page);
        currentPage = page;
        StateHasChanged();

    }
    private async Task<Dictionary<string, Expression<Func<ProductData, bool>>>> GetManufacturers()
    {
        var filter = Builders<ProductData>.Filter.Eq(m => m.Type, Id);
        var list = await collection.Find(filter).ToListAsync();
        HashSet<string> manufacturerSet = new();
        Dictionary<string, Expression<Func<ProductData, bool>>> dict = new Dictionary<string, Expression<Func<ProductData,
        bool>>>();

        foreach (var i in list)
        {
            if (!dict.ContainsKey(i.Manufacturer)) dict.Add(i.Manufacturer, (p) => p.Manufacturer == i.Manufacturer);
            manufacturerSet.Add(i.Manufacturer);
        }
        Console.WriteLine(dict["ViewSonic"]);
        return dict;
    }
    private async Task<Dictionary<string, Expression<Func<ProductData, bool>>>> GetPrice()
    {
        var filter = Builders<ProductData>.Filter.Eq(m => m.Type, Id);
        var list = await collection.Find(filter).ToListAsync();
        HashSet<string> res = new();
        Dictionary<string, Expression<Func<ProductData, bool>>> dict = new Dictionary<string, Expression<Func<ProductData,
        bool>>>();
        foreach (var i in list)
        {
            var price = i.Price;
            if (price <= 1000000 && !dict.ContainsKey("<= 1m"))
            {
                dict.Add("<= 1m", m => m.Price <= 1000000);
            }
            if (price > 1000000 && price <= 3000000 && !dict.ContainsKey("1m - 3m"))
            {
                dict.Add("1m - 3m", m => m.Price > 1000000 && m.Price <= 3000000);
            }
            if (price > 3000000 && price <= 7000000 && !dict.ContainsKey("3m - 7m"))
            {
                dict.Add("3m - 7m", m => m.Price > 3000000 && m.Price <= 7000000);
            }
            if (price > 7000000 && !dict.ContainsKey("<= 7m>"))
            {
                dict.Add("> 7m", m => m.Price > 7000000);
            }

        }
        return dict;
    }
    private async void FilterAction(Expression<Func<ProductData, bool>> m)
    {
        var filter = Builders<ProductData>.Filter.Where(m);
        filterList[1] = filter;
        await QueryItems(currentPage);
        Console.WriteLine("clicked");
        StateHasChanged();
    }
}